@media screen and (min-width: 728px){
	.container {
		width: 728px;
	}
}

.container {
    margin: 0 auto;
}

h1 {
    text-align: center;
}

body {
	display: block;
	background-color: rgb(225, 225, 225);
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	color: #000;
}

.profile {
    max-width: 40%;
    display: block;
    margin: 0 auto;
}

.construction {
    font-weight: bold;
    background-color: yellow;
    padding: 10px;
    border-style: dashed ;
}